
      @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Underdog&display=swap');

     *{
        margin: 0;
        padding: 0;
        border: 0;
    }

        body {
        background-color: #330B0B;
    }
        
header {
    padding: 45px;
    border-bottom: 5px rgb(208, 68, 115);
    background-color: #330B0B;
    border: #5E0C0C;

    }

    header div {
        text-align: center;
    }


    header div a {
        color: #E6E6E6;
        font-size: 20px;
        line-height: 35px;
        margin: 0 15px;
        text-decoration:none;
        font-family:"Underdog", system-ui;
        font-weight: 400;
        font-style: normal;
        transition: color 2000ms;
        }

        header div a:hover {
            color: #FF0033;
            transition: color 2000ms;
            font-size: 30px;
            }
    

   